#btns {
  display: inline-block;
  border: 1px solid #FFBE1D;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  width: 1em;
  text-align: center;
  background-color: #A1E3FF;
}



#btns:hover {
  background-color: #FF44D2;
  cursor: pointer;
}

#btns:active {
    background-color: #ED5276;
}

/* 
.dummy {
  border: 1px solid #fff;
}
.dummy:hover {
  background-color: transparent;
} */

.pad {
  position: absolute;
 
}

#screen {
  display: inline-block;
  margin-bottom:5px;
  padding: 5px;
  height: 1em;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #E86432;
  text-align: right;
  color:#000;
}

/* #hideme {
    background-color: transparent;
    cursor:default;
} */

#display {
  display: inline-block;
  margin-bottom:5px;
  padding: 5px;
  height: 1em;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #E86432;
  text-align: right;
  color:#000;
}